* {
  margin: 0;
  padding: 0; 
}

html {
  font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
  font-size: 14px;
  height: 100%;
  line-height: 1.5;
  overflow: hidden;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-size: 12px;
  color: #bababb;
}

a {
  text-decoration: none;
  color: #bababb;
}

button {
  background: none;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  outline: none;
  border-radius: 50px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  box-sizing: border-box;
  width: 85px;
  text-transform: uppercase;
  color: #bababb;
}

button:disabled {
  opacity: 0.5;
  cursor: auto;
}

select {
  -webkit-appearance:none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 6px;
  margin: 10px 0 7px;
  width: 250px;
  background-color: #313335;
  color: white;
  letter-spacing: -.04em;
  font-weight: bold;
  border: 0;
}

/*Toggle Specific styles*/
input[type=text] {
  color: #bababb;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 5px;
  width: 100%;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  background-color: transparent;
  outline: none;
}

input[type=checkbox].toggle {
  display: inline-block;
  -webkit-appearance: none;
  width: 60px;
  height: 28px;
  background-color: #adadad;
  border: 1px solid #adadad;
  position: relative;
  border-radius: 30px;
  box-shadow: none;
  transition: all .2s ease-in-out;
  outline: none;
  cursor: pointer;
}

input[type=checkbox].toggle:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #fff;
  top: 1px;
  left: 2px;
  border-radius: 50%;
  transition: all .2s ease-in-out;
}

input[type=checkbox].toggle:before {
  content: 'OFF';
  display: block;
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 12px;
  left: auto;
  color: #fff;
}

input[type=checkbox]:checked.toggle {
  background-color: #2b2b2b;
  border: 1px solid #282828;
}

input[type=checkbox]:checked.toggle:after {
  left: 33px;
  background-color: #fff;
}

input[type=checkbox]:checked.toggle:before {
  content: 'ON';
  top: 6px;
  left: 5px;
  color: #fff;
}

h1 {
  font-size: 30px;
  text-align: center;
}

table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
}

table th,
table td {
  padding: 5px 10px;
  border-bottom: 1px solid #282828;
}

table th {
  text-align: left;
}

input[type=text]{
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 5px;
  width: 100%;
  height: 30px;
  font-size: 15px;
  color: #bababa;
  line-height: 15px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  background: transparent;
}

#content {
  background-color: #313335;
}

.tit {
  padding: 15px 0;
}

.box {
  width: 70%;
  padding: 10px 15%;
}

.excel-file ,
.folder-path {
  position: relative;
  min-height:28px;
}

.excel-file span,
.folder-path span {
  overflow:hidden;
  display: block;
  width: 65%;
  line-height: 28px;
  text-overflow:ellipsis;
  white-space:nowrap;
  word-wrap:normal;
}

.excel-file button,
.folder-path button {
  position: absolute;
  top:50%;
  right:0;
  margin-top:-15px;
}

.logDisplay {
  overflow: hidden;
  width:100%;
}

.logDisplay textarea {
  width:100%;
  height:51vh;
  resize: none;
}

.button-box {
  overflow: hidden;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

.button-box button {
  margin-left:10px;
}

.button-box button:first-child {
  margin-left:0;
}